module.exports = (sequelize, DataType) => {
  const {{ camelCase name }} = sequelize.define('{{ camelCase name }}', {
    id: {
      type: DataType.INTEGER,
      primaryKey: true,
      autoIncrement: true,
    },
    title: {
      type: DataType.STRING,
      allowNull: false,
      validate: {
        notEmpty: true,
      },
    },
  }, {
    classMethods: {
      // associate: (db) => {
      //   {{ camelCase name }}.belongsTo(db.user);
      // },
    },
  });
  return {{ camelCase name }};
};
