.list-hazards {
  width: 100%;
  // position: absolute;
  position: relative;
  left: 0;
  top: 20px;
  height: calc(100% - 20px);
  // display: flex;
  // flex-direction: column;
  overflow: auto;
  .header {
    position: absolute;
    color: #fff;
    top: 30px;
    // padding-bottom: 6px;
    width: 40px;
    height: 40px;
    right: 20px;
    // background: #fff;
    // background: rgb(189,21,80);
    // background: #c62828;
    z-index: 10000;
    display: flex;
    text-align: left;
    // padding-left: 20px;
    // margin-bottom: 20px;
    flex-direction: row;
    // border-bottom: 1px solid #e8e8e8;
    // box-shadow: 0 4px 6px rgba(0,0,0,0.15) ;
    .title {
      width: 60%;
    }
    .controls {
      width: 40%;
      display: flex;
      flex-direction: row;
    }
  }
  .list {
    background: #fff;
    position: absolute;
    // top: 40px;
    padding-top: 10px;
    width: 100%;
    .row {
      width: 100%;
      display: flex;
      flex-direction: row;
    }

    .item {
      border-left: 5px solid;
      display: flex;
      flex-direction: column;
      position: relative;
      height: 70px;
      padding: 15px 20px;
      margin: 0 15px 10px;
      border-radius: 3px;
      transition: all 0.2s ease;
      box-shadow: 0 1px 4px rgba(0,0,0,0.15);
      .controls {
        opacity: 0;
        position: absolute;
        top: 0px;
        right: 8px;
        color: #ccc;
        transition: all 0.2s ease;
      }
      &:hover .controls {
        cursor: pointer;
        opacity: 1;
      }


      &.open {
        height: auto;
      }
      &:hover, &.open {
        cursor: pointer;
        box-shadow: 0 2px 8px rgba(0,0,0,0.20);
      }
      .description {
        text-align: left;
        font-size: 16px;
      }
      &:not(.open) .description {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
      }
      .category {
        color: #999;
        text-align: left;
        font-size: 12px;
        width: 50%;
      }
      .date {
        color: #999;
        text-align: right;
        font-size: 11px;
        width: 50%;
      }
      .image {
        width: 100%;
        img {
          width: 100%;
        }
      }

      &.severity-1 {
        // border-color: #ffcdd2;
        border-color: #ef9a9a;
        // border-color: #e57373;
        &:hover, &.open {
          // border-color: #ef5350;
          border-color: #e53935;
        }
      }
      &.severity-2 {
        // border-color: #FFECB3;
        border-color: #FFE082;
        // border-color: #FFD54F;
        &:hover, &.open {
          // border-color: #FFCA28;
          border-color: #FFB300;
        }
      }
      &.severity-3 {
        // border-color: #C8E6C9;
        border-color: #A5D6A7;
        // border-color: #81C784;
        &:hover, &.open {
          // border-color: #66BB6A;
          border-color: #43A047;
        }
      }

    }
  }
}
