// @import url(https://fonts.googleapis.com/css?family=Nunito:400,300);

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.container {
  width: 100%;
  text-align: center;
}

.date-menu {
  .ant-radio-checked .ant-radio-inner {
    border-color: #c62828;
  }
  .ant-radio-inner:after {
    background:  #c62828;
  }
  .ant-radio-wrapper:hover .ant-radio .ant-radio-inner, .ant-radio:hover .ant-radio-inner, .ant-radio-focused .ant-radio-inner {
    border-color: #c62828;
  }
}
.ant-btn:hover, .ant-btn:focus, .ant-btn:active, .ant-btn.active {
  background: transparent !important;
}
.filter-menu {
  .label.second {
    margin-top: 6px;
  }
  .label {
    // border-bottom: 1px solid #e8e8e8; 
    padding-bottom: 4px;
    font-weight: bold;
    width: 100%;
  }
  .ant-checkbox-wrapper {
    display: block;
    padding-bottom: 6px;
  }
  .ant-checkbox-checked .ant-checkbox-inner, .ant-checkbox-indeterminate .ant-checkbox-inner {
    background: #c62828;
    border: 1px solid #c62828;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner {
    border: 1px solid #c62828;
  }
}
.header {

  height: 80px;
  // background: #c62828;
  background: #388E3C;
  position: relative;
  .app-title {
    // background: #fff;
    // box-shadow: 0 2px 10px 0 rgba(0,0,0,0.15);
    // border-bottom: 1px solid #e8e8e8;
    // text-align: left;
    // text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    // font-weight: 200;
    // left: 20px;
    // top: 20px;
    font-size: 26px;
    font-weight: 200;
    color: #fff;
    width: 100%;
    text-align: left;
      box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.2), 0 4px 8px 0 rgba(0,0,0,.12);
    padding: 0 30px;
    line-height: 80px;
  }
  .date {
    padding: 0;
    background: transparent;
    border: 0;
    position: absolute;
    top: 26px;
    display: flex;
    flex-direction: row;
    right: 70px;
    cursor: pointer;
    &.open img, &:hover img {
      cursor: pointer;
      background: rgba(0,0,0,0.1);
    }
    img {
      background: rgba(0,0,0,0.00);
      transition: all 0.2s ease;
      border-radius: 50%;
      padding: 6px;
      transform: translateX(-4px) translateY(-4px);
      width: 36px;
      height: 36px;
    }
  }
  .filter {
    padding: 0;
    background: transparent;
    border: 0;
    position: absolute;
    top: 26px;
    display: flex;
    flex-direction: row;
    right: 30px;
    cursor: pointer;
    &.open img, &:hover img {
      cursor: pointer;
      background: rgba(0,0,0,0.1);
    }
    .label {
      display: none;
      color: #fff;
      margin-right: 10px;
    }
    img {
      background: rgba(0,0,0,0.00);
      transition: all 0.2s ease;
      border-radius: 50%;
      padding: 6px;
      transform: translateX(-4px) translateY(-4px);
      width: 36px;
      height: 36px;
    }
  }
}

.container-left {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 30%;
  // box-shadow: 2px 0 10px;
  // background: rgb(189,21,80);
  box-shadow: 4px 0 4px rgba(0,0,0,0.10);
}
.shadow {
  z-index: 10000;
  height: 100%;
  width: 100%;
  position: absolute;
  box-shadow: inset 4px -4px 10px rgba(0,0,0,0.15);
  pointer-events: none;

}

.container-right {
  position: fixed;
  right: 0;
  width: 70%;
  height: calc(100% - 300px);
}

.container-bottom {
  height: 300px;
  bottom: 0;
  right: 0;
  position: fixed;
  width: 70%;
  border-left: 1px solid #e8e8e8;
  // box-shadow: 2px 0 10px;
}
