/**
 * {{ properCase name }}
 */

import React from 'react';
{{#if wantCSS}}
import './{{ properCase name }}.scss';
{{/if}}

export default class {{ properCase name }} extends React.PureComponent { // eslint-disable-line react/prefer-stateless-function
  render() {
    return (
      {{#if wantCSS}}
      <div className="{{ kebabCase name }}">
      {{else}}
      <div>
      {{/if}}
      </div>
    );
  }
}
