/**
 * {{ properCase name }}
 */

import React from 'react';
{{#if wantCSS}}
import './{{ properCase name }}.scss';
{{/if}}

export default function {{ properCase name }}() {
  return (
    {{#if wantCSS}}
    <div className="{{ kebabCase name }}">
    {{else}}
    <div>
    {{/if}}
    </div>
  );
}
