.chart-pie-container {
  width: 35%;
  // height: 400px;
  height: 100%;
  position: absolute !important;
  // top: calc(100% - 400px);
  // right: 0px;
  top: 0;
  right: 0;

  .title {
    text-align: left;
    margin-left: 55px;
    margin-top: 20px;
  }
.chart-pie {
  // width: 400px;
}

}
