.chart-bar-container {
    width: 65%;
    // margin-top: 30px;
    height: 100%;
    position: absolute !important;
    left: 0;
    top: 0;

  .title {
    text-align: left;
    margin-left: 60px;
    margin-top: 20px;
  }
  .chart-bar {
    // width: 300px;
    // height: 400px;
    // top: calc(100% - 400px);

    // left: 40%;
  }

}
