import { observable } from 'mobx';

export default class {{ properCase name }} {

  @observable foo = 'bar'

  constructor(request, state = {}) {
    this.foo = state.foo;
  }

  setFoo(value) {
    this.foo = value;
  }
}
